# Compiled source 
*.com
*.class
*.o
*.so
.directory
*.pyc
tags

# Executables
*.out
*.hex

#Vivado
*.log
*.jou
*_prj/
*.Xil/

#vim 
*.swp
*.swo

# backup
*.bak
*.sav


#Folders 

build/
ip/
xpr/
*.idea/


#cFDK specific files 
.ip_guard
*.date
*.vivado*
*.dat
env/
dcps/

#ZRLMPI specific files
zrlmpi_cpu_app
app_sw.*
app_hw.*
user.json
py_zrlmpi/
cc_delme/
app_hw_directives.tcl
TOOLS/ZRLMPI.CC/ZRLMPI_out.cpp
TOOLS/ZRLMPI.CC/Role_out.vhdl
LIB/HW/hls/mpi_wrapperv2/src/ZRLMPI.cpp


