# Compiled source 
*.com
*.class
*.o
*.so
.directory
*.pyc
tags

# Executables
*.out
*.hex

#Vivado
*.log
*.jou
*_prj/
*.Xil/

#vim 
*.swp
*.swo

# backup
*.bak
*.sav


#Folders 

build/
ip/
xpr/


#cFDK specific files 
.ip_guard
*.date
*.vivado*
*.dat
env/
dcps/

#ZRLMPI specific files
zrlmpi_cpu_app
app_sw.*
app_hw.*
user.json
py_zrlmpi/
cc_delme/


